<div class="d-flex align-items-center gap-5 fs-4">
  <span><%= @shift.shift_date.strftime("%Y-%m-%d") %> の日勤シフト</span>
  <span>勤務スタッフ: <%= @shift.shift_details.count %>名</span>
  <span>（長日勤: <%= @shift.shift_details.where(preference: "long-shift").count %>名）</span>
</div>
<table>
  <thead>
    <tr>
      <th>スタッフ</th>
      <th>コメント</th>
      <th>希望</th>
      <% # 11:00〜17:00を30分刻みで表示 %>
      <% times = (11 * 60...17 * 60).step(30).map { |m| m / 60.0 } %>
      <% times.each do |h| %>
        <% hour = h.floor %>
        <% minute = ((h - hour) * 60).to_i %>
        <th><%= format("%02d:%02d", hour, minute) %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% grouped = @shift.shift_details.includes(:staff, :break_room)
                    .group_by { |d| d.group }
                    .sort_by { |group, _| [group.nil? ? 1 : 0, group&.created_at] } %>

    <% grouped.each do |group, details| %>
      <!-- グループ名行 -->
      <%= render partial: "shifts/group_row_confirm",
                  locals: {
                    group: group,
                    times: @times,
                    group_counts: @group_counts
                  } %>

      <% details.sort_by { |d| d.staff.created_at }.each do |detail| %>
        <tr>
          <td><%= detail.staff.name %></td>
          <td><%= detail.comment.presence || "-" %></td>
          <!-- 希望 -->
          <td>
            <% case detail.preference %>
            <% when "early" %>
                ●
            <% when "middle" %>
                ●
            <% when "middle-late" %>
                ●
            <% when "late" %>
                ●
            <% when "long-shift" %>
                長日勤
            <% else %>
                -
            <% end %>
          </td>

          <% times.each do |h| %>
            <% hour = h.floor %>
            <% minute = ((h - hour) * 60).to_i %>
            <% current_time = Time.zone.local(@shift.shift_date.year, @shift.shift_date.month, @shift.shift_date.day, hour, minute) %>

            <% if (detail.rest_start_time...detail.rest_end_time).cover?(current_time) %>
              <td class="rest-cell"></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>