<div class="container mt-4" style="max-width: 700px;">
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h2 class="card-title mb-4 text-center text-primary">
        スタッフ選択
      </h2>

      <p class="text-center text-muted mb-4">
        選択された日付: <span class="fw-bold"><%= @date.presence || params[:date] %></span>
      </p>

      <%= form_with url: step1_create_project_shifts_path(@project), method: :post, local: true do %>
        <%= hidden_field_tag :shift_category, @shift_category %>
        <%= hidden_field_tag :date, @date || params[:date] %>
        <%= hidden_field_tag :shift_id, params[:shift_id] %>

        <!-- スタッフ選択 -->
        <div class="mb-4">
          <%= label_tag :staff_ids, "スタッフ", class: "form-label fw-bold" %>
          <%= select_tag "staff_ids[]",
                options_from_collection_for_select(@staffs, :id, :name, @selected_staff_ids),
                multiple: true,
                class: "form-select tom-select" %>
          <small class="text-muted">  </small>
        </div>
        <div class="text-center mt-4 d-flex justify-content-center gap-3">
          <%= link_to "カレンダーへ戻る",
              project_shift_top_path(@project),
              class: "btn btn-success",
              data: { turbo: false } %>
          <%= submit_tag "次へ", class: "btn btn-primary px-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>